{% extends 'templates/default.twig' %}

{% block title %} - Assigned{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="bar bar-header">
        <span class="title">Assigned</span>
        <span class="title-addendum pull-right">{{ count.assigns }} assign(s) to date</span>
    </div>

    {% if assignments is not empty %}
        <table class="table table-assigned table-row table-row-min">
            <thead>
                <tr>
                    <th width="16%"></th>
                    <th width="10%"></th>
                    <th width="50%">Title</th>
                    <th>Contributor</th>
                </tr>
            </thead>

            <tbody>
                {% for assignment in assignments %}
                    {% for assignee in assignment.assignees %}
                        <tr>
                            <td>
                                <img id="logo{{ loop.index }}" src="{% if assignment.app_id %}{{ path.cover.cdn ~ assignment.app_id|e ~ path.cover.capsule }}{% else %}{{ path_for('home') }}images/missing_sm.jpg{% endif %}" onerror="replace({{ loop.index }})">
                            </td>
                            <td>
                                {% include 'components/assignment/wiki.twig' %}
                                {% include 'components/assignment/report.twig' %}
                            </td>
                            <td>
                                {% if assignment.url %}<a href="{{ assignment.url }}" target="_blank">{{ assignment.title|e }}</a>{% else %}{{ assignment.title }}{% endif %}
                            </td>
                            <td>
                                <a href="{{ path.pcgw.user.wiki ~ assignee.name|e }}">{{ assignee.name|e }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <div class="bar bar-footer"></div>
    {% else %}
        <div class="well text-center">
            It looks like we haven't assigned anything to contributors yet.
        </div>
    {% endif %}
</div>

<script>
    function replace(id) {
        $('img#logo'+id).attr("src", "{{ path_for('home') }}images/missing_sm.jpg");
    }
</script>
{% endblock %}
